@page
@model GroupProject15.Pages.InputFormModel
@{
    ViewData["Title"] = "Data input form";
}
<section id="main">
    <h1>Positive test data input</h1>
    <p>
        Enter data about a positive test here.
    </p>
</section>
