@page
@model GroupProject15.Pages.PositiveFormSuccessModel
@{
}

<h1> The form was submitted successfully</h1>


<h2> Are you sure you want to submit this data? </h2>

<h3>Forename: @Model.ForenameCheck</h3>
<h3>Last name: @Model.LastNameCheck</h3>

<h2> Buttons here to </h2>
<h2>- return to previous page to alter data </h2>
<h2>- submit data </h2>
